.App {
  margin: 0 15%;
}

.receipt-list {
  display: flex;
  justify-content: space-around;
}

.receipt-individual{
  border: 2px solid orange;
  padding: 0 25px;
}

.receipt-pay {
  margin: 5px;
  padding: 5px;
  width: 95%;
  border: none;
  border-radius: 10px;
}